body {
  font-family: Arial, sans-serif;
  padding: 20px;
  margin: auto;
  width: 70%;
  border: 3px solid green;
  
  text-align: left;
}

.page {
  display: none;
}

.task {
  margin-bottom: 10px;
}

.question {
  margin-bottom: 10px;
}

.question input[type="radio"] {
  display: inline;
  margin-right: 10px;
}

.button {
  margin-top: 10px;
}

img {
  width: 40%;
  height: auto;
}


